@keyframes scrolling {
  from {
    top: 0px;
  }

  to {
    top: 92px;
  }
}

.App {
  perspective: 400px;
  width: 900px;
  margin: 0 auto;
  overflow: hidden;
  background: black;
}

.ground {
  margin: 0 auto;
  width: 2000px;
  height: 900px;
  background: black;
  transform: rotateX(60deg) translateX(-550px);
  mask-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1))
}

.section {
  position: relative;
  border: 2px solid rgb(222, 0, 43);
  height: 90px;
  animation: scrolling 1.5s infinite linear;
}